body {
  height: 100%;
  background: url('../images/IMG_6384-street-performers-nyc_DHWALL(3).jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  font: 400 0.563em/1.38 Helvetica;
  color: rgb(1, 131, 147);
}

.image {
  display: block;
  width: 92px;
  height: auto;
  margin: 96px auto 0;
  overflow: hidden;
}

.text {
  line-height: 1.38;
}

._button {
  display: block;
  float: left;
  font-size: 1.778em;
  font-weight: 400;
  text-align: center;
}

.container-1 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 17;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.container-2 {
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  z-index: 13;
  width: 100%;
  height: 130px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.container-3 {
  float: left;
  width: 100%;
  height: 120px;
  margin-top: 111px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, .5);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.container-3:hover {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, .5);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.container-4 {
  width: 940px;
  margin: 10px auto 0;
}

.container-5 {
  float: left;
  width: 79.1489361702%;
  margin-left: 3.56217%;
}

.container-6 {
  position: fixed;
  top: 0;
  left: 7.4062499999%;
  z-index: 1;
  width: 140px;
  height: 180px;
  background-color: #009db1;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.66);
}

.text-1 {
  float: right;
  margin: 9px 30px 0 0;
  font-size: 1em;
  font-weight: 400;
  text-align: right;
  color: rgb(1, 131, 147);
}

.text-2 {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-size: 1.222em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  color: rgb(0, 157, 177);
}

.container ._button-1 {
  width: 172px;
  height: 31px;
  margin: 5px 0 0 -52px;
  background: url('../images/tutors.jpg') rgb(255, 255, 255);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: left center;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.container ._button-1:hover {
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.container ._button-2 {
  width: 83px;
  height: 21px;
  margin: 11px 0 0 67px;
  background: url('../images/modic-logo.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 83px 20.5px;
  background-position: left top;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.container ._button-2:hover {
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.container ._button-3 {
  width: 3.2978723404%;
  height: 31px;
  margin: 25px 0 0 3.35273%;
  border-radius: 16px;
  background-color: rgb(0, 157, 177);
  font-family: 'Open Sans';
  line-height: 1.98;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.container ._button-item {
  width: 132px;
  height: 80px;
  border-radius: 3px;
  /*
  background: url('../images/FH558156_393high.jpg') rgb(222, 222, 222);
  background-size: cover;
  */
  background-position: center center;
  font-family: 'Open Sans';
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button-4 {
  width: 132px;
  height: 80px;
  border-radius: 3px;
  background: url('../images/FH558156_393high.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans';
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button-5 {
  width: 132px;
  height: 80px;
  margin-left: 2.81208%;
  border-radius: 3px;
  background: url('../images/fugazi-live1-612x459.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans';
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button-6 {
  width: 132px;
  height: 80px;
  margin-left: 2.81208%;
  border-radius: 3px;
  background: url('../images/2013_James-Blake_Overgrown1.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans';
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button-7 {
  width: 132px;
  height: 80px;
  margin-left: 2.81208%;
  border-radius: 3px;
  background: url('../images/6d61a4aee82cbfca49c91280bb205308.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans';
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button-8 {
  width: 132px;
  height: 80px;
  margin-left: 2.81208%;
  border-radius: 3px;
  background: url('../images/blonderedhead1.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans';
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.container ._button-9 {
  width: 3.2978723404%;
  height: 31px;
  margin: 25px 0 0 3.1383%;
  border-radius: 16px;
  background-color: rgb(0, 157, 177);
  font-family: 'Open Sans';
  line-height: 1.98;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.container ._button-3:hover,
.container ._button-9:hover {
  bottom: auto;
  right: auto;
  margin-right: 0;
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.video_container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:0px;
  height:0;
  overflow:hidden;
  background-color:rgba(0,0,0,0.9);
}

.video_container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:10%;
  left:10%;
  width:80%;
  height:80%;
}