.span-1 {
  width: 61px;
}

.span-2 {
  width: 141px;
}

.span-3 {
  width: 221px;
}

.span-4 {
  width: 301px;
}

.span-5 {
  width: 381px;
}

.span-6 {
  width: 461px;
}

.span-7 {
  width: 541px;
}

.span-8 {
  width: 620px;
}

.span-9 {
  width: 700px;
}

.span-10 {
  width: 780px;
}

.span-11 {
  width: 860px;
}

.span-12 {
  width: 940px;
}

.offset-1 {
  margin-left: 80px;
}

.offset-2 {
  margin-left: 160px;
}

.offset-3 {
  margin-left: 240px;
}

.offset-4 {
  margin-left: 320px;
}

.offset-5 {
  margin-left: 400px;
}

.offset-6 {
  margin-left: 479px;
}

.offset-7 {
  margin-left: 559px;
}

.offset-8 {
  margin-left: 639px;
}

.offset-9 {
  margin-left: 719px;
}

.offset-10 {
  margin-left: 799px;
}

.offset-11 {
  margin-left: 879px;
}

